
.border-card{
  border-radius: 5px;
}

.card-page{
  display: block;
  height: 500px;
  margin: 10% auto auto;
  width: 700px;
  background-color: white;
  border-color: transparent;
}

.logo {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 25px;
}

.input-container{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.12), 2px 2px 2px 2px rgba(0,0,0,.24);
  padding: 12px 22px;
  width: 35%;
  position: absolute;
  display: block;
  margin-left: 25px;
}

.input-search{
  background-color: #FFFFFF;
  border: 0;
  color: black;
  font-family: Arial, serif;
  font-size: 15px;
  width: 98%;
  outline: none;
}

.button {
  background-color: #00b0f0;
  border-color: black;
  font-family: Arial, serif;
  color: black;
  font-size: 18px;
  margin-top: 70px;
  margin-left: 280px;
  width: 100px;
}
