<div class="card-page">
  <div class="card-principal">
    <div class="input-container">
      <form>
        <div>
          <label>Consulta</label>
          <i class="far fa-user"></i>
        </div>

        <div class="alert alert-primary" role="alert">
          A simple primary alert—check it out!
        </div>
        <input placeholder="Consulta" type="text" class="form-control">

        <div class="button-container">
          <button  type="submit" id="btn-iniciar" class="btn btn-primary button-primary button"> Buscar </button>
        </div>
      </form>
    </div>
  </div>
</div>
