<div class="card-body card-page">
  <img class="logo" src="../../../assets/logo_kumo.JPG"/>
  <div class="input-container" >
    <input class="input-search" id="searchInput" [(ngModel)]="query" #searchInput type="text" (keydown)="keyDownClick($event, query)">
    <img class="icono_buscar" src="../../../assets/search.svg" (click)="changeQuery(query)"/>
  </div>
</div>
<hr/>

<div *ngIf="resultFiles.length === 0 && !haveResult" class="spinner-border text-primary spinner"></div>

<app-search-results></app-search-results>
