
.card-page {
  display: inline;
  height: 500px;
  margin: 10% auto auto;
  width: 700px;
  background-color: white;
  border-color: transparent;
}

hr {
  // border-color: black;
  margin: 40px auto 5px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
}

.logo {
  margin-top: 30px;
  display: inline;
  width: 10%;
}

.icono_buscar {
  display: inline;
  width: 5%;
}

.input-container{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
  padding: 12px 22px;
  width: 35%;
  position: absolute;
  display: inline-block;
  margin-left: 25px;
  margin-top: 33px;
}

.input-search{
  display: inline;
  background-color: #FFFFFF;
  border: 0;
  color: black;
  font-family: Arial, serif;
  font-size: 15px;
  width: 95%;
  outline: none;
}

.button {
  display: inline;
  background-color: #f5f5f5;
  border-color: lightgray;
  font-family: Arial, serif;
  color: black;
  font-size: 18px;
  margin-top: 36px;
  margin-left: 600px;
  width: 100px;
}

.spinner {
  height: 100px;
  width: 100px;
  margin-top: 15%;
  margin-left: 45%;
}
